@import url("https://fonts.google.com/specimen/Inter");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color:  hsl(233, 47%, 7%);
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.body{
    margin:5em 0; 
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 90%;
    margin-inline:auto ;
    overflow: hidden;
}

.picture{
    max-width: 100%;
}

.mobile{
    background: url('images/image-header-mobile.jpg') no-repeat right/cover;
    position: relative;
    height: 300px;
    border-radius: 10px 10px 0 0 !important;
}

.overlay{
    background-color:  hsla(244, 38%, 16%, .5);
    background-color: hsla(277, 64%, 61%, .5);
    border-radius: 10px 10px 0 0 !important;
    width: 100%;
    height: 300px;
}
   
@media (min-width:436px) and (max-width:768px){
    .mobile{
        background-position: right top;
    }
}
@media (min-width:595px) and (max-width:768px){
    .stat{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

.desktop{
    display: none;
}

.details{
    /* margin: -1.3em 0; */
    /* padding-bottom: 1rem; */
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    max-width: 100%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

h1.heading{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding:1rem 1.5rem 0;
}

span{
    color: hsl(277, 64%, 61%);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 18px;
    line-height: 1.5;
    /* text-align: center; */
    padding: .5rem 1.5rem;
}

.stat{
    margin-top: 1.3em;
}

.center{
    margin-bottom: 10px;
}

.center h3{
    color: hsl(0, 0%, 100%);
    /* text-align: center; */
    font-size: 29px;
    /* margin-bottom: 10px; */
}

.center p{
    text-transform: uppercase;
    font-size: 15px;
    /* text-align: center; */
}

.attribution {
    margin-top: 2em;
    font-size: 16px; 
    text-align: center;
    color:hsla(0, 0%, 100%, 0.75) ;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
 }


@media (min-width:768px) and (max-width:1500px) {
    .body{
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "content picture";
        margin:5em auto 0;
        justify-content: center;
        align-items: center;
        /* padding: 90px 0; */
        /* min-height: 100vh; */
        width: 80%;
        box-sizing: border-box;
    }

    .mobile{
        display: none;
    }
    
    .desktop{
        background: url('./images/image-header-desktop.jpg') no-repeat right/cover;
        /* position: relative; */
        height: 548px;
        display: grid;
        /* width: 50%; */
        grid-area: 'picture';
        /* margin: 0; */
        border-radius: 0 10px 10px 0;
    }

    .overlay{
        height: 548px;
        border-radius: 0 10px 10px 0 !important;
    }
    
    .details{
        grid-area: content;
        /* margin: 0 !important ; */
        width: 100%;
        height: 500px;
        border-radius: 10px 0 0 10px;
        padding: 1.5rem .5rem 1.5rem 2rem ;
        text-align: left;
    }

    h1.heading {
        text-align: left;
        padding: 1rem 1.5rem 0 0;
    }
    h1,p{
        width: 80%;
        margin: 0 auto 0 0;
        padding: 1em 0 1em ;
        text-align: left;
    }
    p{
        font-family: 'Lexend Deca',sans-serif;
    }
    .stat{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }

    .center{
        width: fit-content;
    }

    .center h3{
        margin-bottom: 0;
    }

    .center p{
        /* text-align: ; */
        padding-top:1em ;
    }

    .attribution {
        margin-top: 2em;
        font-size: 18px; 
        text-align: center;
     }
}

@media (min-width:1024px) and (max-width:1500px) {
    .desktop{
        height: 368px;
    }

    .overlay{
        height: 368px;
        border-radius: 0 10px 10px 0 !important;
    }
    
    .details{
        grid-area: content;
        /* margin: 0 !important ; */
        width: 100%;
        height: 320px;
        border-radius: 10px 0 0 10px;
    }

}